[submodule "week-1"]
	path = week-1
	url = https://github.com/drewcook/zku-week1

[submodule "week-2"]
	path = week-2
	url = https://github.com/drewcook/zku-week2

	[submodule "week-3"]
	path = week-3
	url = https://github.com/drewcook/zku-week3

	[submodule "week-4"]
	path = week-4
	url = https://github.com/drewcook/zku-week4
[submodule "week-5"]
	path = week-5
	url = https://github.com/drewcook/zku-week5